.wrap__Skeleton {
  margin: 1rem 9.1rem 1rem 10rem;
  display: flex;
  flex-direction: column;
}

.main__Skeleton {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-radius: 25px;
  width: 100%;
  margin: 2rem auto 1rem;
  box-shadow: 1px 1px 1px 1px;
  background-color: white;
}

.header__Skeleton {
  /* background-color: lightgray; */
  height: 5rem;

  margin-top: 1rem;
  margin-bottom: 2rem;
}

.header__author {
  background-color: lightgray;
  height: 1rem;
  width: 70%;
  margin: 0 auto;
}

.header__title {
  background-color: lightgray;
  height: 5rem;
  width: 70%;
  margin: 1rem auto;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 0rem;
}

@media only screen and (max-width: 1200px) {
  .wrap__Skeleton {
    margin: 1rem 8rem 3rem 6rem;
  }
}

@media only screen and (max-width: 900px) {
  .wrap__Skeleton {
    margin: 1rem 4rem 3rem 1rem;
  }
}

@media only screen and (max-width: 599px) {
  .wrap__Skeleton {
    margin: 1rem 3.5rem 3rem 1rem;
  }
}
