.wrap__Skeleton {
  margin: 1rem 6rem 1rem 0rem;
  display: flex;
  flex-direction: column;
}

.main__Skeleton {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-radius: 25px;
  width: 90%;
  margin: 2rem auto 1rem;
  box-shadow: 1px 1px 1px 1px;
  background-color: white;
}

.header__Skeleton {
  /* background-color: lightgray; */
  height: 5rem;

  margin-top: 1rem;
  margin-bottom: 2rem;
}

.header__author {
  background-color: lightgray;
  height: 1rem;
  width: 70%;
  margin: 0 auto;
}

.header__title {
  background-color: lightgray;
  height: 2rem;
  width: 70%;
  margin: 1rem auto;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 0rem;
}
