.postPage {
  margin: 3rem 6rem 3rem 10rem;
}

.post__info {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-radius: 25px;
  width: 90%;
  margin: auto;
  box-shadow: 1px 1px 1px 1px;
  background-color: white;
}

.post__header {
  text-align: center;
}

.post__header > p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

.post__header > h4 {
  font-size: 1.3rem;
  width: 90%;
  margin: 0 auto 0.4rem;
}
.post__content {
  display: flex;
  justify-content: center;
  width: 25rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}
.post__image {
  align-self: center;
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.post__footer {
  display: flex;
  justify-content: space-around;
  margin-top: 0rem;
}
.post__footer__icon {
  display: flex;
  align-items: baseline;
}
.post__footer__icon > p {
  padding-left: 1rem;
}

.post__comments {
  width: 90%;
  margin: 0 auto;
}

.post__comments > p {
  width: 100%;
  display: flex;
  text-align: center;
  font-size: 1.6rem;
  margin: 2rem auto -1rem;
  height: 50px;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .postPage {
    margin: 3rem 5rem 3rem 6rem;
  }
  .post__content {
    width: 20rem;
  }
}

@media only screen and (max-width: 900px) {
  .postPage {
    margin: 3rem 2rem 3rem 1rem;
  }
}

@media only screen and (max-width: 599px) {
  .postPage {
    margin: 3rem 1rem;
  }
}
