.communities {
  margin: 3rem 0rem 1rem;
  box-shadow: 2px 2px 2px 2px;
  border-radius: 25px;
  background-color: white;
}

.communities__header {
  display: flex;
  text-align: center;
  margin: 0rem 0 0.2rem;
  padding-bottom: 13px;
  height: 50px;
  color: white;
  border-bottom: 2px solid;
  background-color: #211837;
  align-items: flex-end;
  justify-content: center;
  border-radius: 25px 25px 0 0;
}

.communities__main {
  list-style-type: none;
  /* text-align: center; */
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
}

.communities__main > li {
  margin: 0.3rem;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.1rem;
}

.communities__main > li > p {
  display: flex;
  background-color: #6a98cd;
  border-radius: 25px;
  color: white;
  width: 40%;
  height: 25px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 900px) {
  .communities {
    margin: 3rem -1rem 0 1rem;
  }
  .communities__main {
    align-items: center;
  }
  .communities__main > li {
    flex-direction: column;
    align-items: center;
  }
  .communities__main > li > p {
    width: 100px;
  }
}

@media only screen and (max-width: 750px) {
  .communities {
    width: 180px;
  }
}

@media only screen and (max-width: 599px) {
  .communities {
    width: 90%;
  }
}
