.wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}

.wrap__image {
  height: 4.2rem;
  width: 4.2rem;
  background-color: lightgray;
}

.wrap__content {
  display: flex;
  flex-direction: column;
  /* align-items: baseline; */
  /* justify-content: baseline; */
}

.wrap__image2 {
  margin-left: 3rem;
  margin-top: 1rem;
  background-color: lightgray;
  width: 12rem;
  height: 1rem;
}
