.card {
  /* display: flex; */
  box-shadow: 1px 2px 2px 1px #888888;
  margin: 1.5rem auto 0.5rem;
  width: 50%;
  border-radius: 1rem;
  background-color: #8387aa;
  color: white;
}
.content {
  display: flex;
  justify-content: center;
  padding: 1rem;
  /* width: 20%; */
}
.subredditImg {
  height: 4.2rem;
  width: 4.2rem;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}

h3 {
  font-size: 1.8rem;
}

p {
  font-size: 0.9rem;
  margin: 0.5rem 0 0rem;
}

/* @media only screen and (min-width: 1200px) {
  .card {
    margin: 2rem 15rem 1rem;
  }
} */
