.card {
  display: flex;
  margin: 2rem auto 0rem;
  width: 100%;
  background-color: #56b7db;
  /* border-radius: 25px; */
  color: white;
  align-items: flex-end;
  height: 7rem;
  justify-content: center;
}
.content {
  display: flex;
  justify-content: center;
  padding: 1rem;
  /* width: 20%; */
}
.subredditImg {
  height: 4.2rem;
  width: 4.2rem;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}

h3 {
  font-size: 1.8rem;
}

p {
  font-size: 0.9rem;
  margin: 0.5rem 0 0rem;
}

/* @media only screen and (min-width: 1200px) {
  .card {
    margin: 2rem 15rem 1rem;
  }
} */
