.ad1 {
  margin: 2rem 1rem;
  background-color: white;
  border: 1px solid black;
}

.ad1__header {
  display: flex;
  color: black;
  margin: 0.3rem;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.ad1__main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.3rem;
}

.ad1__img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 900px) {
  .ad1 {
    margin: 3rem 0rem 2rem 2rem;
  }
}
@media only screen and (max-width: 599px) {
  .ad1 {
    width: 80%;
    margin: 3rem 3rem;
  }
}
